<section id="home" data-ng-controller="HomeController">

	<nav>
		<ul id="rightPanel">
			<li><a href="#section-1" du-smooth-scroll du-scrollspy>Section 1</a></li>
			<li><a href="#section-2" du-smooth-scroll du-scrollspy>Section 2</a></li>
			<li><a href="#section-3" du-smooth-scroll du-scrollspy>Section 3</a></li>
		</ul>
	</nav>

	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Personal website of Enrique Tamames, Web Developer
			</p>
		</div>
	</div>

	<div id="rightColumn" du-scroll-container>
		<section id="section-1" class="section">
			<h2>Section 1</h2>
			<div>
				<carousel class="carousel" interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
					<img ng-src="{{slide.image}}" style="margin:auto;">
					<div class="carousel-caption">
						<h4>Slide {{$index}}</h4>
						<p>{{slide.text}}</p>
					</div>
				</slide>
				</carousel>
			</div>
		</section>

		<section id="section-2" class="section">
			<h2>Section 2</h2>
			<p></p>
		</section>

		<section id="section-3" class="section">
			<h2>Section 3</h2>
			<p></p>
		</section>
	</div>

</section>