<section class="row" data-ng-controller="AuthenticationController">
	<div class="jumbotron center">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input type="text" id="username" name="username" class="form-control" placeholder="Username" data-ng-model="credentials.username"/>
				</div>

				<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-lock"></i>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>