/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #EEE;
	padding: 10px 70px 10px 70px;
}

.content {
	width: 900px;
	margin: 50px auto;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

#home nav {
	position: fixed;
	z-index: 1;
	top: 40%;
	right: 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
}
#home nav li, nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center
}
#home nav li, nav a {
	display: block;
}
#home nav a {
	padding: 20px;
	color: #333;
	text-decoration: none;
}
a:hover {
	background: #fff;
}
a.active {
	background: #00AC7F;
	color: #fff;
}
