html,
body {
  margin: 0;
  font-family: arial,helvetica;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: right;
  padding: 20px;
  background-color: #101010;
  z-index: 3;
  background-image: url("https://d2gn4xht817m0g.cloudfront.net/p/profiles/cover_photos/background/007/556/991/7556991-63376479697dbfd8ee28ce6323612820ffe22558.jpg?1521470539");
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header a {
  color: white;
}

footer {
  position: fixed;
  color: #fff;
  padding: 10px;
  bottom: 0;
  text-align: center;
  width: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 0px 25px;

  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a.active {
  text-decoration: line-through;
}

a:hover {
  text-decoration: none !important;
}

button {
  width: 50px;
  padding: 8px;
}

.recharts-wrapper {
  width: 100% !important;
}

@media (max-width: 768px) {
  .recharts-surface {
    width: 100%;
    height: 100%;
  }
}
