html,
body {
	margin: 0;
  font-family: arial,helvetica;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
	position: absolute;
	width: 100%;
  color: #fff;
  text-align: right;
  padding: 20px;
	background-color: #101010;
	opacity: 0.8;
	z-index: 3;
}

header a {
	color: white;
}

footer {
	position: fixed;
	color: #fff;
	padding: 10px;
	bottom: 0;
	text-align: center;
	width: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 0px 25px;

  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a.active {
  text-decoration: line-through;
}

a:hover {
	text-decoration: none !important;
}

button {
  width: 50px;
  padding: 8px;
}
