.About {
  margin: 80px auto;
  min-height: 400px;
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.About-profile-picture-section {
  margin: 0 auto;
  text-align: center;
}

.About-profile-picture {
  height: 345px;
  margin-top: 10px;
}

.About-profile-info {
  float: right;
  width: 350px;
  text-align: left;
}

.About-profile-title {
  font-size: 35px;
}

.About-profile-subtitle {
  font-size: 14px;
  color: slategrey;
  margin-top: 2px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#about td {
  padding: 10px 10px 10px 0;
}

#about td.About-profile-text {
  color: slategrey;
}

#about td.About-profile-text svg {
  margin-right: 5px;
}
