<section data-ng-controller="ContactsController" data-ng-init="find()">
    <toasty-container toasty-defaults='{"close-button":true}'></toasty-container>
    <div class="page-header">
        <h1>Contacts</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="contact in contacts" class="list-group-item contact">
            <form editable-form name="contactform" onbeforesave="update(contact)" ng-show="contactform.$visible" class="form-buttons form-inline menu-actions">
                <button type="submit" ng-disabled="contactform.$waiting" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                </button>
                <button type="button" ng-disabled="contactform.$waiting" ng-click="contactform.$cancel()" class="btn btn-warning">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </form>
            <div class="menu-actions" ng-show="!contactform.$visible">
                <a class="btn btn-primary" href ng-click="contactform.$show()">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-danger" data-ng-click="remove(contact);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
            <small class="list-group-item-text">Posted on
                <span data-ng-bind="contact.created | date:'medium'"></span>
            </small>
            <p class="list-group-item-heading" editable-text="contact.username" e-name="username" e-form="contactform" ng-show="!contactform.$visible">{{ contact.username || 'empty' }}</p>
            <p class="list-group-item-heading" editable-text="contact.email" e-name="email" e-form="contactform" ng-show="!contactform.$visible">{{ contact.email || 'empty' }}</p>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!contacts.$resolved || contacts.length">
        No Contacts yet!
    </div>
</section>